<div class="container">
  <h1 class="text-center mb-3">Hungarian Population Census of 1836</h1>
  <table class="table table-hover table-striped">
    <tbody>
      <tr class="text-center">
          <th>
              <span (click)="newPop()" data-bs-toggle="modal" data-bs-target="#exampleModal">&#10010;</span>
          </th>
          <th>Azonosító</th>
          <th>Lélekszám</th>
          <th>Kultúra</th>
          <th>Vallás</th>
          <th>Foglalkozás</th>
      </tr>
      @for(pop of Population; track $index){      
      <tr>
          <td>
              <span (click)="doModify(pop)">&#9998;</span>
              <span (click)="doDelete(pop)">&#10008;</span>
          </td>
          <td>{{pop.id}}</td>
          <td>{{pop.population}}</td>
          <td>{{pop.culture}}</td>
          <td>{{pop.religion}}</td>
          <td>{{pop.profession}}</td>
      </tr>
    }
  </tbody>
  </table>
</div>
<app-pop [PopGroupData]="new" (saved)="saveNew($event)" (cancelled)="new=undefined; modify = undefined;"></app-pop>
<app-pop [PopGroupData]="modify" (saved)="saveModify($event)" (cancelled)="new=undefined; modify = undefined;"></app-pop>